<div class="container-fluid">
    <br> <br>
    <div class="row">
        <div class="col">
            <img src="./assets/img/photo.png" width="110" height="110" class="rounded mx-auto d-block border" alt="...">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-center">
            Yair Francisco
        </div>

    </div>
    <br>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-lg btn-default btn-block text-left border" routerLink="/cuenta"><img class="float-left" src="./assets/img/perfil2.png" width="25"alt=" ">&nbsp;&nbsp; Perfil</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-lg btn-default btn-block text-left border" routerLink="/cuenta"><img class="float-left" src="./assets/img/documento.png" width="25"alt=" ">&nbsp;&nbsp; Documentos</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-lg btn-default btn-block text-left border" routerLink="/cuenta"><img class="float-left" src="./assets/img/Help.png" width="25"alt=" ">&nbsp;&nbsp; Ayuda</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-lg btn-default btn-block text-left border" routerLink="/cuenta"><img class="float-left" src="./assets/img/infor.png" width="25"alt=" ">&nbsp;&nbsp; Quienes Somos</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-lg btn-default btn-block text-left border" routerLink="/cuenta"><img class="float-left" src="./assets/img/logout.png" width="25"alt=" ">&nbsp;&nbsp; Cerrar Sesión</button>
        </div>
    </div>
</div>