<div class="container-fluid">
    <div class="row">
        <nav class="navbar fixed-bottom navbar-dark bg-dark ">
            <div class="col text-center">
                <button type="button" routerLink="/mapa" class="btn btn-dark center-block"><img src="./assets/img/home.png" width="30" height="100%" alt=""></button>
            </div>
            <div class="col text-center">
                <button type=" button " class="btn btn-dark "><img src="./assets/img/order.png " width="30 " height="100% " alt=" "></button>
            </div>
            <div class="col text-center">
                <button type="button " class="btn btn-dark "><img src="./assets/img/history.png " width="30 " height="100% " alt=" "></button>
            </div>
            <div class="col borde text-center">
                <button type="button " class="btn btn-dark "><img src="./assets/img/perfil.png " width="30 " height="100% " alt=" "></button>
            </div>
        </nav>
    </div>
</div>