<!-- Button trigger modal -->

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-dark  btn-sm btn-block">Pepido Recogido</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-dark btn-sm btn-block" data-toggle="modal" data-target="#exampleModal">
                Indicaciones</button>
        </div>
    </div>
</div>

<div id="map"></div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><img class="float-left" src="./assets/img/anterior.png" width="25"alt=" "></button>
                <div id="indicators"></div>
            </div>

        </div>
    </div>
</div>