<div class="alert alert-warning" role="alert">
    <button type="button" class="btn text-left" routerLink="/perfil"><img class="float-left" src="./assets/img/regreso.png" width="20"alt=" "></button>
</div>
<div class="container">
    <br> <br>
    <div class="row">
        <div class="col">
            <img src="./assets/img/photo.png" width="110" height="110" class="rounded mx-auto d-block border" alt="...">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-center">
            Yair Francisco
        </div>
    </div>
    <br>
    <div class="row border">
        <div class="col text-center">
            Repartos:
        </div>
        <div class="col text-center">
            Calificacion:
        </div>
        <div class="col text-center">
            Meses:
        </div>
    </div>
    <br>
    <br>
    <ul class="list-group">
        <li class="list-group-item"><img class="float-left" src="./assets/img/location.png" width="25" alt=" ">&nbsp;&nbsp; Cras justo odio</li>
        <li class="list-group-item"><img class="float-left" src="./assets/img/des.png" width="25" alt=" ">&nbsp;&nbsp; Cras justo odio</li>
    </ul>
</div>