<div class="alert alert-warning" role="alert">
    <strong>Pedido Disponibles!</strong>
</div>

<div class="container">
    <div class="mx-auto">

    </div>
</div>

<div class="container">
    <div class="card-columns">
        <div class="card">
            <img src="./assets/img/herra.jpg" class="card-img-top im-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title" align="center">Aqui va el nombre</h5>
                <p><strong>Direccón:</strong></p>
                <p><strong>Cliente:</strong></p>
                <p><strong>Direccón Entrega:</strong></p>
            </div>
        </div>

    </div>
</div>